*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    /* styling untuk background halaman */
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)), url(Untitled\ design\ \(1\).png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.form-box{
    /* styling pada form box */
    width: 90%;
    max-width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* supaya ditengah */
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 10px;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 20px;
    color: #3c00a0;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}
.input-field{
    /* background input */
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input{
    /* styling pada input  */
    width: 100%;
    background: transparent;
    outline: 0;
    border: 0;
    padding: 18px 15px;
}
.input-field i{
    /* styling icon */
    margin-left:15px ;
    color: #999;
}
form p{
    /* text aja */
    text-align: left;
    font-size: 13px;
}
form p a{
    /* text dibawah form */
    text-decoration: none;
    color: #3c00a0;
}
.btn-field{
    /* area luar button */
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.btn-field button{
    /* styling tombol */
    flex-basis: 48%;
    background: #aeaeae;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: transform 0.5s;
  
}
.btn-field button:hover{
    transform: translateY(-10px);
    background: #3c00a0;
}
.input-group{
    /* untuk memberikan space  */
    height: 280px;
}
.btn-field button a{
    text-decoration: none;
    color: #fff;
}